*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-dark: #000000E5;
    --color-primary: #2271D1;
    --color-secondary: #333;
    --color-tertiary: #f4f4f4;
    --primary-glow-color: #2271D1;
}